.app-container {
	width: 100%;
	height: 100%;
}

.highlight-textarea {
	resize: none;
	width: 80%;
}

.highlight-textarea-edit {
	resize: none;
	width: 70%;
	display: none;
	float: left;
}

.highlight-form {
	margin-left: 15px;
}

.highlight-border {
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-color: #F1F1F1;
	flex: 1;
	cursor: pointer;
}

.highlight {
	text: center; 
	word-wrap: break-word;
	width: 100%; 
	float:left
}

.highlight-1 {
	text: center; 
	word-wrap: break-word;
	border-bottom-width: 2px; 
	border-bottom-style: solid;
	border-color: #F1F1F1;

}

.btn-center {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.btn-sidebar-left {
	width: 50% !important; 
	float: left !important; 
	border-bottom-style: solid !important; 
	border-width: 1px !important;
	border-color: #EFEFEF !important;
}

.btn-sidebar-right {
	width: 50% !important; 
	float: left !important; 
	border-left-style: solid !important; 
	border-bottom-style: solid !important; 
	border-width: 1px !important;
	border-color: #EFEFEF !important;
}

.btn-change-highlights {
	display: none;
	width: 0%; 
	float: left;
	margin-top: 1px;
	transition: width 5s;
	transition-timing-function: linear;
}

.btn-change-highlights-save {
	display: none;
	width: 20%; 
	float: left;
	margin-top: 1px;
	transition: width 5s;
	transition-timing-function: linear;
}

.sidebar-panel {
	width: 30% !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
